@using WebFrontEnd.Controllers
@model DeleteFuncSubmitModel
@{
    ViewBag.Title = "DeleteFuncSubmit";
}

<div class="page-title">
<h1>Queued Deletion</h1>
</div>
<p>Queued Deletion of @Model.FunctionToDelete</p>
<p>Check URI for indexing results: <a href="@Model.Writeback">@Model.Writeback</a></p>