@using WebFrontEnd.Controllers
@model RegisterFuncSubmitModel
@{
    ViewBag.Title = "RegisterFuncSubmit";
}

<div class="page-title">
<h1>Queued Registration <smal>for functions in @Model.AccountName/@Model.ContainerName</smal></h1>
</div>

<p>Check URI for indexing results: <a href="@Model.Writeback">@Model.Writeback</a></p>