@using WebFrontEnd.Controllers
@model FuncSubmitModel
@{
    ViewBag.Title = "RegisterKuduFuncSubmit";
}

<h2>Register Kudu Func submitted</h2>

<p>Queued registration for functions.</p>

<p>Check URI for indexing results: <a href="@Model.Writeback">@Model.Writeback</a></p>

<p>[ @Html.ActionLink("List of registered functions", "ListAllFunctions") ] </p>