@{
    ViewBag.Title = "RegisterUrlFunc";
}

<h2>Register Url function</h2>

<p>Scan for SimpleBatch functions at the following Url endpoint.</p>

@using (Html.BeginForm("RegisterKuduFuncSubmit", "Home"))
{
    <table>
        <tr>
            <td>Url:</td>
            <td><input type="text" name="url" size="100"/></td>
        </tr>
    </table>
    <p>
    <input type="submit" value="Register function" />
    </p>
}
