body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
}

.not-running {
    color: darkorange;
    width: 1em;
}

.old-version {
    color: darkred;
    width: 1em;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

/* navbar */

.navbar {
    background-color: #3c454f;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:focus {
    background-color: #526273;
    color: white;
}
/* checkboxes */

input[type="checkbox"] {
    margin-top: 2px;
}

/* labels */

.label, .badge {
	font-weight: lighter;
	font-size: 90%;
}
.label-success, .badge-success {
	background-color: rgb(129, 189, 130);
}
.label-info, .badge-info {
	background-color: rgb(104, 163, 213);
}

/* tables */

.table thead{
	border-top:1px solid #dee3ea;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: rgb(225, 243, 251);
}
.table th.sortable {
	cursor: pointer;
}
.table th.sortable:hover {
	text-decoration: underline;
}
.table thead th{
	font-weight: bold;
	position: relative;
	padding-bottom: 20px !important;
	padding-top: 5px !important;
	text-transform: uppercase;
	font-size: 11px;
	vertical-align: top !important;
	border-bottom: 0px !important;
}
.table td{
	color: #526273;
	border-top-color: #edf2f7 !important;
	vertical-align: middle !important;
}
.table th.align-right,
.table td.align-right {
	text-align: right;
	padding-right: 10px !important;
}
table tr.first td{
	border-top: 0 none;
}
table th span.line{
	position: absolute;
	top: 0;
	left: -8px;
	border-left: 1px solid #dee3ea;
	height: 10px;
}

/* toolbars */

.btn-toolbar {
    margin-bottom: 10px;
}

label
{
    font-size: 14px;
}

.pager.disabled a,
.pager.disabled span {
    color: #3c454f;
}