bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
msbuild.log
package-lock.json
.DS_Store

/packages
/TestResults

/tools/NuGet.exe
/node_modules
/.output

src/WebJobs.Script.WebHost/Properties/launchSettings.json

# ignore generated grpc code from core branch
src/WebJobs.Script.Grpc/Messages