
bin
obj
csx

*.user
*.suo

/packages
/WebFrontEnd/Properties/PublishProfiles
/TestResults
/Secrets/Secrets.Password.cs
/tests/LiveAzureTests/app.config

/CloudBinders/PrivateBinderList.csv
/PublicDownload/Binaries