bin
obj
csx

*.user
*.suo
*.cscfg

/packages
/WebFrontEnd/Properties/PublishProfiles
/TestResults
/Secrets/Secrets.Password.cs
/Tests/LiveAzureTests/app.config

/CloudBinders/PrivateBinderList.csv
/PublicDownload/Binaries
*.azurePubXml