version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
 only:
 - dev
 - master
 - v1.x
image: Visual Studio 2017
clone_folder: c:\projects\azure-functions-host
on_finish:
- cmd: '"C:\Program Files (x86)\Microsoft SDKs\Windows\v8.1A\bin\NETFX 4.5.1 Tools\sn.exe" -Vr *,*'
- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))