version: 3.0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - v3.x

image:
- Visual Studio 2019 Preview

max_jobs: 1

environment:
  PythonVersionPath: "C:\\Python37-x64"

init:
- ps: |
    if ($env:FUNCTIONS_NIGHTLY -eq "1") {
      $version = Get-Date -Format "yyyyMMdd-HHmm"
      Update-AppveyorBuild -Version $version -Message "Functions Scheduled Build"
    }
    
clone_folder: c:\azure-functions-host

install:
- ps: |
    $env:CommitHash = "$env:APPVEYOR_REPO_COMMIT"
    $env:Path="$env:PythonVersionPath;$env:Path"
    Install-Product node 10.16.0 x86      
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"      
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '3.1.100' -InstallDir "$env:ProgramFiles\dotnet"
    
build_script:
- ps: |
    $hasTag = Test-Path env:APPVEYOR_REPO_TAG_NAME
    $isbuildFromMasterBranch = $env:APPVEYOR_REPO_BRANCH -eq "master"
    $includeSuffix = (-Not ($hasTag -OR $isBuildFromMasterBranch))
    .\build.ps1 -buildNumber "$env:APPVEYOR_BUILD_NUMBER" -includeSuffix $includeSuffix

      $env:Path="$env:PythonVersionPath;$env:Path"

      Install-Product node 10.0.0 x86
  build_script:
  - ps: |
      $hasTag = Test-Path env:APPVEYOR_REPO_TAG_NAME
      $isbuildFromMasterBranch = $env:APPVEYOR_REPO_BRANCH -eq "master"
      $includeSuffix = (-Not ($hasTag -OR $isBuildFromMasterBranch))
      
      if (-Not $includeSuffix) {
        $env:Configuration = "Release"
      }

      Get-ChildItem buildoutput\*.zip | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name -DeploymentName "Runtime" }
    }

test_script:
- ps: > 
    .\run-tests.ps1

on_finish:
- ps: >
    $bypassPackaging = $env:APPVEYOR_PULL_REQUEST_NUMBER -and -not $env:APPVEYOR_PULL_REQUEST_TITLE.Contains("[pack]")
      
    if (-not $bypassPackaging) {
      & .\tools\PollSigningResults.ps1
      if (-not $?) { exit 1 }        
    }
