<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="azure_app_service" value="https://www.myget.org/F/azure-appservice/api/v3/index.json" />
    <add key="azure_app_service_staging" value="https://www.myget.org/F/azure-appservice-staging/api/v2" />
    <add key="azure-appservice-test" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/azure-appservice-test%40Local/nuget/v3/index.json" />
    <add key="buildTools" value="https://www.myget.org/F/30de4ee06dd54956a82013fa17a3accb/" />
    <add key="Microsoft.Azure.Functions.PowerShellWorker" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/Microsoft.Azure.Functions.PowerShellWorker/nuget/v3/index.json" />
    <add key="AzureFunctionsRelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsRelease/nuget/v3/index.json" />
    <add key="AzureFunctionsPreRelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsPreRelease/nuget/v3/index.json" />
    <!-- dotnet-tools is required for Microsoft.CodeAnalysis.CSharp.Analyzer.Testing.XUnit -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json"/>

	<!-- For Release NuGet Feed
	<add key="Slsec" value="https://msazure.pkgs.visualstudio.com/f3247cef-e371-4261-b105-33f9613c6d8e/_packaging/ServerlessSecurity/nuget/v3/index.json" />
    -->
	<!-- For Local Build NuGet Feed
    <add key="SlSecHost" value="C:\repos\SHA-ServerlessSecurity\Platform\src\ServerlessSecurityHost\bin\Debug" />
    <add key="GrpcServices" value="C:\repos\SHA-ServerlessSecurity\Platform\src\GrpcServices\bin\Debug" />
    <add key="PluginMgr" value="C:\repos\SHA-ServerlessSecurity\Platform\src\PluginMgr\bin\Debug" />
    <add key="VulScanPlugin" value="C:\repos\SHA-ServerlessSecurity\Plugins\src\VulnerabilityCollectorPlugin\bin\Debug" />
    
	<add key="slsec_local_feed" value="C:\repos\SHA-ServerlessSecurity\slsec\feed" />
    -->
	  
	<!-- For Linux Container Build NuGet Feed
    <add key="local_feed" value="/mnt/c/r/scratch/feed" />
    -->
  </packageSources>
</configuration>
