<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="upstream-public" value="https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/nuget/v3/index.json" />
    <add key="Microsoft.Azure.Functions.PowerShellWorker" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/Microsoft.Azure.Functions.PowerShellWorker/nuget/v3/index.json" />
    <add key="AzureFunctions@internalrelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctions%40internalrelease/nuget/v3/index.json" />
    <add key="AzureFunctionsRelease" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsRelease/nuget/v3/index.json" />
    <add key="AzureFunctionsTempStaging" value="https://azfunc.pkgs.visualstudio.com/e6a70c92-4128-439f-8012-382fe78d6396/_packaging/AzureFunctionsTempStaging/nuget/v3/index.json" />
    <add key="AzureFunctionsInfra" value="https://pkgs.dev.azure.com/azfunc/public/_packaging/infra/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="upstream-public">
      <package pattern="*" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Storage" />
    </packageSource>
    <packageSource key="Microsoft.Azure.Functions.PowerShellWorker">
      <package pattern="Microsoft.Azure.Functions.PowerShellWorker.PS7.0" />
      <package pattern="Microsoft.Azure.Functions.PowerShellWorker.PS7.2" />
      <package pattern="Microsoft.Azure.Functions.PowerShellWorker.PS7.4" />
    </packageSource>
    <packageSource key="AzureFunctions@internalrelease">
      <package pattern="Microsoft.Azure.AppService.Middleware" />
      <package pattern="Microsoft.Azure.AppService.Middleware.Functions" />
      <package pattern="Microsoft.Azure.AppService.Middleware.Modules" />
      <package pattern="Microsoft.Azure.AppService.Middleware.NetCore" />
    </packageSource>
    <packageSource key="AzureFunctionsRelease">
      <package pattern="Microsoft.Azure.Functions.ColdStartProfileAnalyzer" />
      <package pattern="Microsoft.Azure.Functions.DotNetIsolatedNativeHost" />
      <package pattern="Microsoft.Azure.Functions.JavaWorker" />
      <package pattern="Microsoft.Azure.Functions.NodeJsWorker" />
      <package pattern="Microsoft.Azure.Functions.PythonWorker" />
    </packageSource>
    <packageSource key="AzureFunctionsTempStaging">
      <package pattern="appinsights.testlogger" />
      <package pattern="Microsoft.Azure.AppService.Proxy.Common" />
      <package pattern="Microsoft.Azure.AppService.Proxy.Client" />
      <package pattern="Microsoft.Azure.AppService.Proxy.Runtime" />
      <package pattern="Microsoft.Azure.Functions.Platform.Metrics.LinuxConsumption" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Storage" />
      <package pattern="Microsoft.Azure.WebJobs.Logging.ApplicationInsights" />
      <package pattern="Microsoft.Azure.WebSites.DataProtection" />
    </packageSource>
    <packageSource key="AzureFunctionsInfra">
      <package pattern="Microsoft.Azure.Functions.ColdStartDataWriter" />
      <package pattern="Microsoft.Azure.Functions.PowerShellWorker.PS7.6" />
    </packageSource>
  </packageSourceMapping>
</configuration>
