<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <configuration>
      <runtime>
        <AppContextSwitchOverrides value="Microsoft.Extensions.Configuration.BindSingleElementsToArray=false" />
      </runtime>
    </configuration>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
<appSettings>
  <!-- NotificationHubs specific app setings for messaging connections -->
  <add key="Microsoft.Azure.NotificationHubs.ConnectionString" value="Endpoint=sb://[your namespace].notificationhubs.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  <!-- This prevents app insights telemetry from being sent by tests -->
  <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="" />
</appSettings>
</configuration>
