@model BinderListModel
@{
    ViewBag.Title = "ListAllBinders";
}

<div class="page-header">
<h1>Binders <small>a list of pre-existing binders on the cloud</small></h1>
<p>Cloud binders provide default binders for the following types. If your function uses these types, the binders are automatically pulled down from the cloud for your function to use.</p>
</div>

@if(Model.Binders.Any()) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Account</th>
                <th>Path</th>
                <th>Entry Point</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.Binders)
            {
                <tr>
                    <td>@entry.TypeName</td>
                    <td>@entry.AccountName</td>
                    <td>@entry.Path</td>
                    <td>@entry.EntryPoint</td>
                </tr>
            }   
        </tbody>
    </table>
} else {
    <p class="alert alert-info">There are no cloud binders registered in the system.</p>
}