@{
    ViewBag.Title = "RegisterFunc";
}

<div class="page-header">
    <h1>Register <small>a new function from an Azure Storage Container</small></h1>
</div>
<div>
    <ol>
    <li>Upload your assemblies to an Azure Storage Container.</li>
    <li>Specify the container here: </li>
    </ol>
</div>
@using (Html.BeginForm("RegisterFuncSubmit", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        <label class="control-label" for="AccountName">Account Name:</label>
        <div class="controls">
            <input type="text" name="AccountName" placeholder="Azure Storage Account Name"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="AccountKey">Account Key:</label>
        <div class="controls">
            @* Account keys are long and random and difficult to check. Password field is unnecessary here *@
            <input type="text" name="AccountKey" placeholder="Azure Storage Account Key"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="AccountName">Container Name:</label>
        <div class="controls">
            <input type="text" name="ContainerName" placeholder="Name of the container"/>
        </div>
    </div>
    <p>
    <button type="submit" class="btn btn-primary"><i class="icon-cloud-upload"></i> Register</button>
    </p>
}