<p>
    <button type="button" class="btn btn-primary btn-sm" ng-click="toggleConsole()">
        Toggle Output
    </button>
</p>
<div ng-show="shouldShowConsole" class="form-group">
    <span ng-if="isRunning() && consoleText">
        Refreshed <span ng-bind="lastUpdatedText()"></span>, <a href="" ng-click="refresh()">refresh</a> or <a target="_blank" href="{{logUrl()}}">download</a>
    </span>
    <span ng-if="!isRunning()">
        <a target="_blank" href="{{logUrl()}}">download</a>
    </span>
    <textarea name="output-body" rows="10" class="form-control" ng-bind="consoleText" readonly="readonly" placeholder="Loading..."></textarea>
</div>
