<button type="button" class="btn btn-primary btn-sm" ng-click="toggleConsole()">
    Toggle Output
</button>

<form ng-class="shouldShowConsole ? '' : 'collapse'" role="form">
    <div>
        <label ng-if="isRunning()" class="checkbox">
            <input type="checkbox" checked="checked"> Auto-scroll
        </label>
        <a target="_blank" href="{{logUrl()}}">Download output</a>
    </div>

    <div class="form-group">
        <textarea name="output-body" rows="10" class="form-control" ng-bind="consoleText">loading...</textarea>
        <span class="help-block">This represents the console output. It is automatically refreshed.</span>
    </div>
</form>
