@using WebFrontEnd.Controllers
@using Orchestrator
@model RunnerInterfaces.CloudBlobDescriptor

@using (Html.BeginForm("RescanFunction", "Home"))
{
<input type="hidden" name="accountString" value="@Model.AccountConnectionString" />
<input type="hidden" name="containerName" value="@Model.ContainerName" />
<h3>Container</h3>
<label>@Model.ContainerName</label>
<input type="submit" value="Rescan Container"/>
}