<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net46" />
  <package id="Humanizer" version="1.33.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs" version="2.0.0-alpha-10349" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.0.0-alpha-10349" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="SharpNetSH" version="2.0.5" targetFramework="net46" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net46" />
</packages>