@using Dashboard
@using Microsoft.WindowsAzure.Jobs
@{
    ViewBag.Title = "Configuration Error";
}

<h2>Bad Configuration</h2>
<p>
    The configuration is not properly set for the Windows Azure Web Jobs Dashboard.
    In your Windows Azure Website configuration you must set a connection string named <code>@SimpleBatchStuff.LoggingConnectionStringName</code> with
    a value similar to <code>DefaultEndpointsProtocol=https;AccountName=<b>NAME</b>;AccountKey=<b>KEY</b></code> pointing to the Windows Azure Storage account where the Windows Azure Jobs Runtime logs are stored.<br/>
    Please visit the article <a href="http://go.microsoft.com/fwlink/?LinkID=320957">about configuring connection strings</a> for more information on how you can configure connection strings in your Windows Azure Website.
</p>
<p class="alert alert-danger">@SimpleBatchStuff.BadInitErrorMessage</p>