@using Dashboard
@using Microsoft.WindowsAzure.Jobs
@{
    ViewBag.Title = "Configuration Error";
}

<h2>Bad Config</h2>
<p>
The configuration is not properly set for the Windows Azure Web Jobs SDK Dashboard.
In your configuration (such as web.config), you must set a connection string named <i>@JobHost.LoggingConnectionStringName</i> that points to the account connection string where the sb logs are being stored. EG, under "connectionStrings" in Web.config, add a value like:
</p>
<pre>
  &lt;add name="@JobHost.LoggingConnectionStringName" connectionString="DefaultEndpointsProtocol=https;AccountName=<b>NAME</b>;AccountKey=<b>KEY</b>" /&gt;
</pre>

<p>
This is the storage account that your user functions will bind against.  This is also where logging will be stored.
</p>
<p class="alert alert-danger">@SimpleBatchStuff.BadInitErrorMessage</p>