@model Monitor.Controllers.IndexModel

<h1>Simple Batch usage sates</h1>

<table>
    <tr>
        <td>Account Name</td>
        <td># of X-Small hours</td>

    </tr>
@foreach (var kv in Model.Counts)
{
    <tr>
        <td>@kv.Key</td>
        <td>@kv.Value</td>
    </tr>
}
</table>
