<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.1" targetFramework="net46" />
  <package id="Autofac.WebApi2" version="4.0.1" targetFramework="net46" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.1" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.1" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.4.1" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebHooks.Common" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Azure" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Bitbucket" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Dropbox" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.DynamicsCRM" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Generic" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.GitHub" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Instagram" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.MailChimp" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Pusher" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Salesforce" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Slack" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Stripe" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Trello" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.WordPress" version="1.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.DataProtection" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Http.Features" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.ApiHub.Sdk" version="0.7.2-alpha" targetFramework="net46" />
  <package id="Microsoft.Azure.AppService.Proxy" version="0.3.2.14" targetFramework="net461" />
  <package id="Microsoft.Azure.DocumentDB" version="1.13.2" targetFramework="net46" />
  <package id="Microsoft.Azure.DocumentDB.ChangeFeedProcessor" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Azure.NotificationHubs" version="1.0.7" targetFramework="net46" />
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.2.10" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs" version="2.1.0-beta4-11064" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.1.0-beta4-11064" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs.Extensions" version="2.1.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.ApiHub" version="1.0.0-beta6-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.BotFramework" version="1.0.15-beta" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.DocumentDB" version="1.1.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.EventGrid" version="1.0.0-beta2-10009" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.Http" version="1.0.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.MobileApps" version="1.1.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.NotificationHubs" version="1.1.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.SendGrid" version="2.1.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Extensions.Twilio" version="1.1.0-beta4-10554" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Logging" version="2.1.0-beta4-11064" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs.Logging.ApplicationInsights" version="2.1.0-beta4-11064" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs.ServiceBus" version="2.1.0-beta4-11064" targetFramework="net461" />
  <package id="Microsoft.Azure.WebSites.DataProtection" version="0.1.81-alpha" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.Bot.Connector.DirectLine" version="3.0.0-beta" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.Options" version="1.0.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.1" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.3" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.3" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net46" />
  <package id="ncrontab" version="3.3.0" targetFramework="net46" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="Sendgrid" version="8.0.5" targetFramework="net46" />
  <package id="SendGrid.CSharp.HTTP.Client" version="3.0.0" targetFramework="net46" />
  <package id="SendGrid.SmtpApi" version="1.3.1" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net46" developmentDependency="true" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.0.0" targetFramework="net46" />
  <package id="System.Collections" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net46" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Console" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.3" targetFramework="net46" />
  <package id="System.IO" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net46" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.1" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encodings.Web" version="4.0.0" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="Twilio" version="4.7.2" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="3.4.5" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net46" />
</packages>