@model OverviewModel
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
<h1>Dashboard <small>Current status of the system</small></h1>
</div>

<h3>Configuration settings for service</h3>
<table class="table table-striped">
    <tr><th>Account name</th><td>@Model.AccountName</td></tr>
    <tr><th>Execution</th><td>@Model.ExecutionSubstrate</td></tr>
    <tr><th>Version</th><td>1- @Model.VersionInformation</td></tr>    
</table>
