@using Dashboard
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Content("~/#")">Microsoft Azure WebJobs</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Content("~/#/functions")">
                    @if (SdkSetupState.BadInit)
                    {
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                    }
                    Functions
                </a>    
            </li>
            @if (!SdkSetupState.BadInit)
            {
                @Html.MenuLink("Search Blobs", icon: "glyphicon glyphicon-search", action: "SearchBlob", controller: "Function")
                <li><a href="@Url.Content("~/#/about")">About</a></li>
            }
        </ul>
    </div>
</div>