@using TriggerServiceRole.Controllers
@model HomeModel

<h1>Trigger Service</h1>

<p>Registered Triggers</p>

<ol>
@foreach (var scope in Model.Map.GetScopes())
{
    <li>
    <text>Scope: <b>@scope</b></text>
        <ol>
    @foreach (var trigger in Model.Map.GetTriggers(scope))
    {
        <li>
            @trigger.ToString()
        </li>
            
    }
            </ol>
    </li>
}
</ol>


<p>Version info: @Model.ConfigInfo</p>