@using Dashboard.ViewModels
@model RunFunctionViewModel
@{
    ViewBag.Title = "Replay Function";
}

<ol class="breadcrumb">
    <li>
        <a href="@Url.Content("~/#/functions")">
            functions
        </a>
    </li>
    <li>
        <a href="@Url.Content("~/#/functions/definitions/" + Url.Encode(Model.FunctionFullName))">
            @Model.FunctionName
        </a>
    </li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h3>Replay Function <small>@Model.FunctionName</small></h3>
    </div>
</div>

@using (Html.BeginForm("Replay", "Function", new { parentId = Model.ParentId }, FormMethod.Post, new Dictionary<string, object> { { "class", "form" }, { "role", "form" } }))
{
    Html.RenderPartial("_Invoke", Model);
}
