@using Dashboard.ViewModels
@model RunFunctionViewModel
@{
    ViewBag.Title = "Run Function";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <h3>Run Function <small>@Model.FunctionName</small></h3>
    </div>
</div>

@using (Html.BeginForm("Run", "Function", new { functionId = Model.FunctionId }, FormMethod.Post, new Dictionary<string, object> { { "class", "form" }, { "role", "form" } }))
{
    Html.RenderPartial("_Invoke", Model);
}
