<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="xunit.parallelizeAssembly" value="false"/>
    <add key="xunit.parallelizeTestCollections" value="false"/>
    <add key="xunit.maxParallelThreads" value="1"/>
  </appSettings>
  <connectionStrings>
    <!-- CS format: DefaultEndpointsProtocol=https;AccountName=[ACCOUNT];AccountKey=[KEY] -->
    <add name="AzureWebJobsStorage" connectionString="" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>