<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ARMClient.Authentication" version="0.0.5-alpha" targetFramework="net46" />
  <package id="ARMClient.Library" version="0.0.8-alpha" targetFramework="net46" />
  <package id="Autofac" version="4.2.0" targetFramework="net46" />
  <package id="Colors.Net" version="1.0.6" targetFramework="net46" />
  <package id="Dapper" version="1.50.2" targetFramework="net46" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net46" />
  <package id="Humanizer" version="1.33.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs" version="2.0.0-beta2-10489" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.0.0-beta2-10489" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.8.1" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.14.201151115" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="SharpNetSH" version="2.0.5" targetFramework="net46" />
  <package id="System.IO.Abstractions" version="2.0.0.137" targetFramework="net46" />
  <package id="System.Spatial" version="5.8.1" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.2.1" targetFramework="net46" />
</packages>