<ng-include src="'app/views/shared/breadcrumb.html'"></ng-include>
<div class="row">
    <div class="col-md-12">
        <h3>
            Continuous WebJob Details <small ng-bind="jobName"></small>
        </h3>

        <ng-include src="'app/views/shared/Errors.html'"></ng-include>

        <p ng-if="!job">Loading...</p>
        <p ng-if="job" ng-class="job.getAlertClass()" class="alert">
            <b ng-bind="job.getAlertHeader()"></b><br />
            Run command: {{job.runCommand}}
        </p>
        <console-output ng-if="job" log-url="job.outUrl" console-owner="job" collapse-by-default="job.usingSdk">
        </console-output>

        <ng-include src="'app/views/shared/SdkTeaser.html'"></ng-include>

        <section ng-if="!invocations && !_sdkNotConfigured">
            <p>Loading...</p>
        </section>

        <section ng-show="invocations.page.length > 0">
            <h4>Functions invoked</h4>
            <ng-include src="'app/views/shared/FunctionInvocationsTable.html'"></ng-include>
        </section>
    </div>
</div>
