<ng-include src="'app/views/shared/breadcrumb.html'"></ng-include>
<ng-include src="'app/views/shared/ConnectionStringError.html'"></ng-include>
<ng-include src="'app/views/shared/SdkTeaser.html'"></ng-include>
<div class="row" ng-if="!_sdkNotConfigured">
    <div class="col-md-12">
        <h3>
            Function invocation log <small ng-bind="functionName"></small>
        </h3>
        <p>
            <a ng-if="functionId" class="btn btn-primary" href="{{_urls.runFunction(functionId)}}">Run function</a>
        </p>
        <ng-include src="'app/views/shared/FunctionInvocationsTable.html'"></ng-include>
    </div>
</div>
