<div class="row">
    <div class="col-md-9">
        <h3>
            WebJobs
        </h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-3">Status</th>
                    <th class="col-md-4">Last Run Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="jobs.length === 0">
                    <td colspan="3">There are no WebJobs in this website. Checkout Windows Azure Portal to set up WebJobs.</td>
                </tr>
                <tr ng-repeat="job in jobs">
                    <td>
                        <a href="{{_urls.job(job.type, job.name)}}" title="{{job.name}}" ng-bind="job.name"></a>
                    </td>
                    <td>
                        <span ng-class="job.getStatusClass()" ng-bind="job.getStatusText()" class="label"></span>
                    </td>
                    <td>
                        <span ng-bind="job.lastRunTimeString"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
