<ng-include src="'app/views/shared/breadcrumb.html'"></ng-include>
<div class="row">
    <div class="col-md-12">
        <h3>
            WebJob Run Details <small ng-bind="jobName"></small>
        </h3>
        <p ng-if="!jobRun">Loading...</p>
        <p ng-if="jobRun" ng-class="jobRun.getAlertClass()" class="alert">
            <b ng-bind="jobRun.getAlertHeader()"></b>
            <span>{{jobRun.startTimeString}}</span> <small>({{jobRun.durationString}} running time)</small><br/>
            Run ID: <span>{{jobRun.id}}</span>
        </p>
        <console-output ng-if="jobRun" log-url="jobRun.outUrl" supports-incremental-updates="false"
                        is-running="jobRun.isRunning()">
        </console-output>
        
        <ng-include src="'app/views/shared/SdkTeaser.html'"></ng-include>

        <section ng-if="!invocations && !_sdkNotConfigured">
            <p>Loading...</p>
        </section>

        <section ng-if="invocations.length > 0">
            <h4>Functions invoked during this run</h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Status</th>
                        <th>Status detail</th>
                    </tr>
                </thead>
                <tbody id="function-invocations-body">
                    <tr ng-repeat="invocation in invocations">
                        <td>
                            <a title="Run details" href="{{_urls.functionInvocation(invocation.id)}}">
                                <span>{{invocation.functionDisplayTitle}}</span>
                            </a>
                        </td>
                        <td>
                            <span ng-class="[invocation.getLabelClass()]" class="label">{{invocation.getLabelText()}}</span>
                        </td>
                        <td>
                            <span>{{invocation.statusTimeString}}</span> <small>{{invocation.durationString}} running time)</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
