<ng-include src="'app/views/shared/breadcrumb.html'"></ng-include>
<div class="row">
    <div class="col-md-12">
        <h3>
            WebJob Run Details <small ng-bind="jobName"></small>
        </h3>
        <p ng-if="!jobRun">Loading...</p>
        <p ng-if="jobRun" ng-class="jobRun.getAlertClass()" class="alert">
            <b ng-bind="jobRun.getAlertHeader()"></b>
            <span>{{jobRun.startTimeString}}</span> <small>({{jobRun.durationString}} running time)</small><br/>
            Run ID: <span>{{jobRun.id}}</span>
        </p>
        <console-output ng-if="job && jobRun" log-url="jobRun.outUrl" console-owner="jobRun" collapse-by-default="job.usingSdk">
        </console-output>
        
        <ng-include src="'app/views/shared/SdkTeaser.html'"></ng-include>

        <section ng-if="!invocations && !_sdkNotConfigured">
            <p>Loading...</p>
        </section>

        <section ng-show="invocations.entries.length > 0">
            <h4>Functions invoked during this run</h4>
            <ng-include src="'app/views/shared/FunctionInvocationsTable.html'"></ng-include>
        </section>
    </div>
</div>
