@using WebFrontEnd.Controllers
@using Executor
@model LogIndexModel
@{
    ViewBag.Title = "ListFunctionInstances";
}

<h2>Log of recently executed functions</h2>

<p>
[@Html.ActionLink("Home", "Index", "Home") ]
[@Html.ActionLink("Summary of count of invocations per function type", "Summary")]
[@Html.ActionLink("Chargeback log", "GetChargebackLog")]
</p>

<p>
    <b>@Model.Description</b>
</p>

<table border="1">
    <tr>
        <td>Name</td>
        <td>Status</td>
        <td>output</td>
    </tr>
    @foreach(var log in Model.Logs)
    {
        <tr>
            <td>                   
                @Html.FunctionInstanceLogLinkVerbose(log)
            </td>
            <td>
                @Html.Partial("_FunctionStatus", log)
            </td>             
            <td>@Html.FunctionOutputLink(log)</td>
        </tr>
    }
</table>
