@using WebFrontEnd.Controllers
@model FunctionChainModel
@{
    ViewBag.Title = "ViewChain";
   
    int depth = 0;
}

<h2>View Chain</h2>

<p>
    Shows all descendents triggered by a particular function. 
</p>

<table border="1">
@foreach (var node in Model.Nodes)
{
   
    <tr>
        <td>
            @node.Depth
        </td>
    <td>
        @{        
        string indent = new string('-', (node.Depth -1) * 2);
        }
        @indent                   
        @Html.FunctionInstanceLogLink(node.Func)
        </td>
    <td>
    @node.Func.FunctionInstance.TriggerReason
        </td>
        </tr>
}
    </table>


@if(Model.Duration.HasValue)
{
    <p>Total chain timespan: @Html.TimeLapse(Model.Duration.Value) </p>
}
