<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureWebJobsHostId" value="5a709861cab44e68bfed5d2c2fe7fc0c" />
    <add key="AzureWebJobsFunctionTimeout" value="00:00:30" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>